<div class="wrap">
    <footer class="footer py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center text-md-start myspan">
                  <span>&copy; 2025 Macska Menhely</span>
              </div>
              <div class="col-md-6 text-center text-md-end">
                  <ul class="list-inline mb-0">
                      <li class="list-inline-item">Angular</li>
                      <li class="list-inline-item">Express</li>
                      <li class="list-inline-item">phpmyadmin</li>
                  </ul>
              </div>
          </div>
      </div>
    </footer>
  </div>
  